<!-- Layout for Blog ost -->
<!DOCTYPE html>
<html class="no-js" lang="en-US">
{{ partial "head.html" . }}

<body class="post ebook">

    <article>
    <header class="article-header">
                <div class="article-cover">
                    <div class="article-image">
                        <img src="{{ .Params.photo }}" alt="">
                    </div>
                </div>
                <div class="article-headline">
                    <div class="inner-wrapper">
                        <div class="coming-soon">
                            Coming Soon
                        </div>
                        <h1>ulampinoy <span>Cookbook</span></h1>
                        <h2 class="article-headline-blurb"></h2>
                    </div>
                </div>
            </header>
        <div class="inner">
            
            <div class="article-body">
                <div class="inner-wrapper">
                    {{ .Content }}
                
                    <form class="ebook-signup" name="contact" action="ebook-signup" netlify>
                        <div>
                        <input type="email" name="email" placeholder="Your e-mail">
                        <button>Send</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </article>
    {{ partial "footer.html" . }}
    
</body>

</html>
