<!-- Layout for video post -->
<!DOCTYPE html>
<html class="no-js" lang="en-US">
{{ partial "head.html" . }}

<body class="video post">
    <nav role="full-horizontal" class="nav">
        <div class="inner-wrapper">
            <div class="logo"><a href="#" class="active">{{ .Site.Title }}</a></div>
            <ul>
                <li class="nav-item"><a href="blog" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="archive" class="nav-link">Archive</a></li>
                <li class="nav-item"><a href="video" id="active" class="nav-link">Videos</a></li>
            </ul>
        </div>
    </nav>
    {{ $baseurl := .Site.BaseURL }}
    <section class="video">
        <div class="wrapper">
            <div class="video-item">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ .Params.youtube }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <article>
        <header class="article-header">
            <div class="article-headline">
                <div class="inner-wrapper">
                    <h1>{{ .Title }}</h1>
                    <h2 class="article-headline-blurb">{{ .Params.excerpt }}</h2>
                    <div class="meta">
                        {{ .Date.Format "2 January 2006" }}
                    </div>
                </div>
            </div>
        </header>
        <div class="inner">
            <div class="article-body">
                <div class="inner-wrapper">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </article>
    {{ partial "adsense.html" . }} {{ partial "pager.html" . }} {{ partial "footer.html" . }}
</body>

</html>
