<section class="feature">
		<h2 class="section-headline"><span>Mga Tampok</span></h2>
			<ul>
				{{ range last 3 (where .Data.Pages "Type" "post") }}
				<li class="feature-item">
					<div class="feature-item-image">
						<a href="{{ .RelPermalink }}"><img src="{{ .Params.photo }}" alt=""></a>
					</div>
					<div class="feature-item-description">
						<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
						<div class="excerpt">
							<p>{{ .Params.excerpt }}</p>
						</div>
					</div>
				</li>
				{{ end }}
			</ul>
</section>