<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"> {{ partial "meta.html" . }}
    <base href="{{ .Site.BaseURL }}">
    <title> {{ .Title }} : ulampinoy.com </title>
    <link rel="canonical" href="{{ .Permalink }}"> {{ if .RSSlink }}
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
    <link href="{{ .Site.BaseURL }}css/main.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>    
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
