<section class="newest">
		<h2 class="section-headline"><span>Bago lang</span></h2>
			<ul>
				{{ range first 4 (where .Data.Pages "Type" "post") }}
				<li class="newest-item">
					<div class="newest-item-image">
						<a href="{{ .RelPermalink }}"><img src="{{ .Params.photo }}" alt=""></a>
					</div>
					<div class="newest-item-description">
						<div class="tag-tease">{{ .Params.tag }}</div>
						<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
						<div class="excerpt">
							<p>{{ .Params.excerpt }}</p>
						</div>
					</div>
				</li>
				{{ end }}
			</ul>
</section>