<section class="spotlight">
		<h2 class="section-headline"><span>Mula sa Archive</span></h2>
			<ul>
				{{ range first 7 (where .Data.Pages "Type" "archive") }}
				<li class="spotlight-item">
					<div class="spotlight-item-image">
						<a href="{{ .RelPermalink }}"><img src="{{ .Params.photo }}" alt=""></a>
					</div>
					<div class="spotlight-item-description">
						<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
						<div class="excerpt">
							<p>{{ .Params.excerpt }}</p>
						</div>
					</div>
				</li>
				{{ end }}
			</ul>
</section>