<section class="spotlight">
		<h2 class="section-headline"><span>Mula sa Archive</span></h2>
			<ul>
				{{ range first 6 (where .Data.Pages "Type" "archive") }}
				<li class="spotlight-item">
					<div class="spotlight-item-image">
						<a href="{{ .RelPermalink }}"><img src="{{ .Params.photo }}" alt=""></a>
					</div>
					<div class="spotlight-item-description">
						<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
						<div class="excerpt">
							<p>{{ .Params.excerpt }}</p>
						</div>
					</div>
				</li>
				{{ end }}
			</ul>
			<div class="gad">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- home-sidebar-responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9964697758880128"
     data-ad-slot="8369704952"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
			</div>
</section>