<section class="subscribe">
    <div class="container">
        <h2 class="section-headline"><span>Mag-subscribe sa aming newsletter</span></h2>
        <section class="inner-wrapper">
            <div id="mc_embed_signup" class="newsletter">
                <form action="http://ulampinoy.us4.list-manage.com/subscribe/post?u=dd0bf06f8c3ae74395ca15a49&amp;id=bd8ca89323" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate pure-form" target="_blank">
                    <div class="subscribe-forms">
                        <fieldset>
                            <div class="mc-field-group">
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Ang inyong email address">
                                <button type="submit" value="Subscribe" class="">Nais kong mag-subscribe</button>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>
