<!DOCTYPE html>
<html class="no-js" lang="en-US">
{{ partial "head.html" . }}

<body>
	<section class="top">
		{{ partial "nav.html" . }}
		{{ partial "hero.html" . }}
	</section>
	<section class="top-ads">
		<div class="inner-wrapper">
			{{ partial "top-big-ads.html" . }}
		</div>
	</section>
	<main>
		<div class="inner-wrapper">
			{{ partial "newest.html" . }}
			{{ partial "spotlight.html" . }}
		</div>
	</main>
	{{ partial "videos.html" . }}
	{{ partial "subscribe.html" . }}

	<section class="top-ads">
		<div class="inner-wrapper">
			{{ partial "top-big-ads.html" . }}
		</div>
	</section>
	{{ partial "footer.html" . }}
</body>

</html>