<!DOCTYPE html>
<html class="no-js" lang="en-US">
{{ partial "head.html" . }}

<body class="post blog">
    <nav role="full-horizontal" class="nav">
        <div class="inner-wrapper">
            <div class="logo"><a href="/" class="active">{{ .Site.Title }}</a></div>
            <ul>
                <li class="nav-item"><a href="blog" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="archive" id="active" class="nav-link">Archive</a></li>
                <li class="nav-item"><a href="video" class="nav-link">Videos</a></li>
            </ul>
        </div>
    </nav>

    <div class="inner">

        <section class="post-main newest">
                {{ range first 1 (where .Site.Pages "Type" "archive") }}
                <div class="post-item">
                    <div class="post-item-image">
                        <a href="{{ .RelPermalink }}"><img src="{{ .Params.photo }}" alt=""></a>
                    </div>
                    <div class="post-item-description">
                        <div class="tag-tease">{{ .Params.tag }}</div>
                        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                        <div class="excerpt">
                            <p>{{ .Params.excerpt }}</p>
                        </div>
                    </div>
                </div>
                {{ end }}
        </section>

        <section class="post-panel">
                {{ range after 1 (where .Site.Pages "Type" "archive") }}
                <div class="post-item">
                    <div class="post-item-image">
                        <a href="{{ .RelPermalink }}"><img src="{{ .Params.photo }}" alt=""></a>
                    </div>
                    <div class="post-item-description">
                        <div class="tag-tease">{{ .Params.tag }}</div>
                        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                        <div class="excerpt">
                            <p>{{ .Params.excerpt }}</p>
                        </div>
                    </div>
                </div>
                {{ end }}
        </section>

        
    </div>
    {{ partial "footer.html" . }}
</body>
</html>
