<!-- Layout for Blog ost -->
<!DOCTYPE html>
<html class="no-js" lang="en-US">
{{ partial "head.html" . }}

<body class="post">
    <nav role="full-horizontal" class="nav">
        <div class="inner-wrapper">
            <div class="logo"><a href="#" class="active">{{ .Site.Title }}</a></div>
            <ul>
                <li class="nav-item"><a href="blog" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="archive" id="active" class="nav-link">Archive</a></li>
                <li class="nav-item"><a href="video" class="nav-link">Videos</a></li>
            </ul>
        </div>
    </nav>
    <article>
    <header class="article-header">
                <div class="article-cover">
                    <div class="article-image">
                        <img src="{{ .Params.photo }}" alt="">
                    </div>
                </div>
                <div class="article-headline">
                    <div class="inner-wrapper">
                        <h1>{{ .Title }}</h1>
                        <h2 class="article-headline-blurb">{{ .Params.excerpt }}</h2>
                    </div>
                </div>
            </header>
        <div class="inner">
            
            <div class="article-body">
                <div class="inner-wrapper">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </article>
    
    {{ partial "ads-bottom-respo.html" . }}
    {{ partial "pager.html" . }}
    {{ partial "footer.html" . }}
    
</body>

</html>
